.center {
    padding: 12em;
    border: 2px solid white;
    z-index: 3;
}

legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}

a.white {
    color: white;
}

.display {
    font-size: 43pt;
}

.display-3 {
    font-size: 28pt;
}

.bg {
    background-color: rgba(255, 255, 255, .9)
}

.title-holder {
    width: 50%;
}

.fixed-size {
    width: 100%;
}

.slide {
    width: 100%;
    border: 2px solid black;
    height: 600px;
    transition: all 1s;
}

.slide-event {
    width: 100%;
}

.slide-news {
    width: 100%;
    border: 2px solid black;
    height: 500px;
    transition: all 1s;
}

.slide-news:hover {
    width: 100%;
    transform: scale(1.1);
}

.slide:hover {
    width: 100%;
    transform: scale(1.1);
}

.scroll {
    height: 650px;
    width: 90%;
    border: 2px solid black;
    overflow: auto;
    padding: 10px
}

.cardstyle {
    border: 1px solid white;
}

.cardstyle:hover {
    background: rgba(0, 0, 0, 0.8);
}

.row {
    border: 2px outset black;
    border-radius: 5px;
}

input {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 100%;
}

#banner {
    min-height: 550px;
    background-image: url('../img/banner.jpg');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}

#banner-news {
    min-height: 550px;
    background-image: url('../img/banner2.jpg');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 400px) {
    .display {
        font-size: 33pt;
    }
    .center {
        padding: 4em;
        z-index: 1;
    }
    .slide {
        width: 100%;
        border: 1px solid black;
        height: 250px;
        transition: all 1s;
    }
    .slide-news {
        width: 100%;
        border: 1px solid black;
        height: 300px;
        transition: all 1s;
    }
}
@media screen and (max-width: 720px) {
    .display {
        font-size: 33pt;
    }
    .center {
        padding: 5em;
        z-index: 1;
    }
    .slide {
        width: 100%;
        border: 1px solid black;
        height: 250px;
        transition: all 1s;
    }
    .slide-news {
        width: 100%;
        border: 1px solid black;
        height: 300px;
        transition: all 1s;
    }
}