.affix {
    width: 100%;
    z-index: 10;
}
.center {
	padding: 12em;
    border: 2px solid white; 
    z-index: 3;
}
.white {
    color: white;
}

.display {
    font-size: 43pt;
}

.display-3{
    font-size: 28pt;
}
.bg {
    background-color:rgba(255, 255, 255, .9)
}

.title-holder {
    width: 50%;
}
.fixed-size {
    width: 100%;
}
.slide {
    width: 100%;
    border: 2px solid black;
    height: 600px;
    transition: all 1s;
}

.slide:hover {
    width: 100%;
    transform: scale(1.1);
}

.scroll {
    height: 650px;
    width: 90%;
    border: 2px solid black;
    overflow: auto;
    padding: 10px
}

.row {
    border: 2px solid black;
}

input {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input:focus {
    width: 100%;
}

#banner {
    min-height: 550px;
    background-image: url('../img/banner.jpg');
    text-align: center;
    
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}
#banner-news {
    min-height: 550px;
    background-image: url('../img/banner2.jpg');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}
