
<div class="container">
    <div class="row animated zoomIn">
        <uib-carousel interval="myInterval">
            <uib-slide class="slide-event" ng-repeat="events in events | limitTo: 10 | orderBy: 'event_dategmt'" active="active" index="$index">
                <div class="col-md-6">
                    <h1 class="black-text"><strong>{{events.base_title}}</strong></h1>
                    <hr>
                    <h1 class="text-info">{{events.title_tag_line}}</h1>
                    <h3 class="text-danger">{{events.fighter_status}}</h3>
                    <h3><a href="{{events.ticketurl}}" class="text-warning">Buy Tickets Here</a></h3>
                    <h3>
                <a target="__blank" href="{{events.trailer_url}}" class="text-warning">Trailer</a>
                </h3>

                </div>
                <div class="col-md-6">
                    <h3 class="text-primary"><strong>Date:</strong></h3>
                    <hr>
                    <h4 class="text-danger"><span class="text-info">Start: </span> {{events.event_dategmt | date : "fullDate"}}</h4>
                    <h4 class="text-danger"><span class="text-info">End: </span>{{events.end_event_dategmt | date : "fullDate"}}</h4>
                    <h4 class="text-danger"><span class="text-info">Starting At: </span>{{events.event_time_text}}</h4>
                    <h3 class="text-info"><strong>Location:</strong>
                    {{events.location}} <br> {{events.arena}}</h3>
                </div>
                <img class="img-responsive slide-event" ng-src="{{events.feature_image}}">
            </uib-slide>
        </uib-carousel>
    </div>
