<div class="container">
    <div class="row">
        <hr>
        <div class="col-md-6 col-md-offset-3">
        <label>Search: <input ng-model="searchText"></label>
        
            <div class="card text-center" ng-repeat="fighters in fighters | filter:searchText">
                <h3 class="text-info"><span class="text-danger">Name:</span> {{fighters.first_name}} {{fighters.last_name}}</h3>
                <img class="img-fluid img-responsive" ng-src="{{fighters.profile_image}}">
                <div class="card-block">
                    <h3 class="text-danger card-title glyphicon glyphicon-user">{{fighters.fighter_status}}</h3>
                    <h3 class="text-primary card-text">Record</h3>
                    <hr>
                    <h4 class="text-info">Wins: {{fighters.wins}}</h4>
                    <h4 class="text-danger">Losses: {{fighters.losses}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
