<div id="banner" class="container-fluid">
    <div class="row center">
        <div class="col-md-12">
            <h1 class="text-center display animated fadeInDown">The<img class="animated infinite pulse" src="img/title.png" alt="">Daily News</h1>
            <h1 class="text-center">
                <h2 class="animated fadeInUp">Get the Latest news on every UFC moment. </h2>
            </h1>
        </div>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row animated zoomIn">
        <uib-carousel interval="myInterval">
            <uib-slide class="slide" ng-repeat="slide in slides" active="active" index="$index">
                <img class="slide center-block" ng-src="{{slide.image}}">
            </uib-slide>
        </uib-carousel>
    </div>
</div>
<br>
<hr>
<br>
<div class="container">
    <h1 id="title" class="text-center text-info display wow fadeIn">Title Holders</h1>
    <div class="row center-block">
        <div ng-repeat="title in title">
            <div class="col-md-6">
                <div class="card wow fadeInUpBig">
                    <h1 class="text-center"><strong>{{title.weight_class}}</strong></h1>
                    <h3 class="text-center">{{title.first_name}} <strong>"{{title.nickname}}"</strong> {{title.last_name}}</h3>
                    <img class="img-responsive title-holder center-block" ng-src="{{title.belt_thumbnail}}" alt="">
                    <h3 class="text-primary text-center">Wins: <span class="text-warning">{{title.wins}} </span> Losses: <span class="text-warning">{{title.losses}}</span></h3>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
