<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center display">Daily News</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row animated zoomIn">
        <uib-carousel interval="myInterval">
            <uib-slide class="slide-news" ng-repeat="news in news" active="active" index="$index">
                <img class="img-fluid slide-news center-block" ng-src="{{news.thumbnail}}">
            </uib-slide>
        </uib-carousel>
    </div>
</div>
<div>
<hr>
    <div class="container">
        <div class="row">
            <br>
            <div class="text-center" ng-repeat="news in news">
                <div class="card col-md-7">
                    <div class="wow slideInLeft">
                        <h1 class="text-warning">{{news.title}}</h1>
                        <h4>{{news.introduction}}</h4>
                        <h4 class="text-info">Date: <br> <span class="text-danger">{{news.article_date | date: "fullDate"}}</span></h4>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-responsive thumbnail fixed-size wow slideInRight" ng-src="{{news.thumbnail}}" alt="Article image..">
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
