<section id="artistbg">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Album</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <hr>
        <div ng-repeat="test in test">
            <div id="content" class="col-md-4">
                <h3 class="text-info">Artist: <span class="text-danger">{{test.artistName}}</span></h3>
                <img class="artwork" ng-src="{{test.artworkUrl100}}">
                <h4 class="text-info">Album: <span class="text-danger">{{test.collectionName}}</span></h4>
                <a target="__blank" href="{{test.collectionViewUrl}}" class="glyphicon glyphicon-user btn-lg button_1">ArtistInfo</a>
            </div>
        </div>
    </div>
</div>
